{{ define "navbar" }}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Uploader</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="viewlist">viewlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="list">list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="write">write</a>
      </li>
    </ul>
    </ul>
  </div>
</nav>
{{end}}
